@media (max-width:768px) {
    .border-new{
        display: block;
        border: none;
    }

    #home-header{
        position: inherit;
    }


}

@media (max-width:1024px) {
    #home-header .bordertop{
        border-top: none;
        background-color: transparent;
    }
    .home-background{
        display: none;
    }

}

@media (max-width: 403px) {
    .mnft_ic{
        height: auto;
        padding-top: 10px;
        margin-left: 0px;
    }
}

